@font-face {
    font-family: Wiedikon Grotesk;
    src: url(../fonts/240306BahnhofWiedikonGroteskSignal-Regular.otf);
}

h1 {
    font-family: monospace;
    font-size: 20px;
    font-weight: normal;
}

*:focus {
    outline: none;
}

.type-tester {
    line-height: calc(initial - initial / 10);
}

.f-wiedikon_grotesk {
    font-family: Wiedikon Grotesk;
}