body {
    background-color: black;
    overflow: hidden;
    margin: 50px;
}

h1 {
    color: white;
    font-family: monospace;
}

p {
    color: white;
    font-family: monospace;
}

.fredi {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
}

.fredi img {
    width: 100%;
}


.noise {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/noise.gif);
    mix-blend-mode: screen;
    opacity: 0.5;
    pointer-events: none;
}